body {
    background-image: url("../images/backgroung.png");
    height: 50%;
    background-position: center;
    background-color: lightblue;


    
}

header {
    margin: 10px auto;
    padding: 40px;
    width: 50%;
    text-align: center;
    font-size: 90px;
    font-family: 'Roboto', sans-serif;
    color: #38291F;
}

p {
    font-family: 'Roboto', sans-serif;
}

.instructions {
    width: 50%;
    margin: 30px auto;
    text-align: center;
    color: #C99167;
}

.score {
    width: 70%;
    height: 80px;
    padding: 20px 20px;
    text-align: center;
    margin: 10px auto;
    flex-flow: column;
    font-size: 30px;
}


.match {
    margin: 0;
    float: left;
    width: 33%;
}

#randomNumber {
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
}

#win {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

#losses {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

.wl {
    float: left;
    width: 33%;
}

.total {
    float: left;
    width: 33%;
}

#userTotal {
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
}

.img-holder {
    width: 50%;
    margin: 40px auto;
    align-content: center;
}

.imgs {
    width: 24%;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 2px;
    
}

i {
    font-size: 40px;
    padding: 0 10px;
    color: #38291F
}